:root {
  --color-background: #eee;
  --color-border: #bbb;
  --color-border-hover: #777;
  --color-text: #000;
  --color-primary: rgb(245, 200, 80);
  --color-secondary: rgb(152, 233, 200);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline-color: var(--color-secondary);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link, a:visited, a:hover, a:active {
  color: var(--color-text);
  text-decoration: none;
}

input {
  padding: 10px 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.text-center {
  text-align: center;
}

.card {
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px var(--color-border);
}